[2020-10-01 12:05] riibeirogabriel opened #60 "Removes parentheses redundancy in python code"
The python code of microservices and the learning_orchestra_client has several parentheses which don't are necessary, is necessary remove this parentheses.

[2020-10-01 12:07] riibeirogabriel opened #61 "Fix wrong writing in documentation"
look at documentation and make suggestions to increase the quality of docs.

[2020-10-01 12:20] riibeirogabriel opened #62 "Enable download of csv files in file format"
Currently the database_api microservice makes the download of csv files wich load directly in web browser, but this limit the user , we need enable the download of csv files in file format (download file in .csv).

[2020-10-01 12:27] riibeirogabriel opened #63 "Publish spark and spark_task images on public registry and use it in dependent microservices"
The spark and spark_task image creation take a good time in Learning Orchestra deploy, publish the images in a public registry like DockerHub or the Github packages will reduce the time to deploy.

[2020-10-01 20:35] antoniouaa opened #64 "Contributing file"
Hello, I saw your recent post in the Hacktoberfest discord server and found your repo.

The repository doesn't have a CONTRIBUTING.md file guiding new users towards meaningful contributions. Would you mind adding one?

[2020-10-01 20:43] riibeirogabriel commented on #64
Hi @antoniouaa i forget this addition, do you can do this? thanks!

[2020-10-01 21:00] #60 closed

[2020-10-01 21:01] srihas070 commented on #62
I want to contribute

[2020-10-01 21:11] riibeirogabriel commented on #64
@antoniouaa Do you have interest to contribute regularly with this project?

[2020-10-01 21:14] antoniouaa commented on #64
Hi, unfortunately this is a bit too advanced for me, best I can do right now is make the Contrib file

[2020-10-01 21:17] riibeirogabriel commented on #64
No problems, if also can get the docs issue it will be great, i don't have a good english.

[2020-10-01 21:18] riibeirogabriel commented on #64
and please give a star to project to help spreading.

[2020-10-01 21:36] riibeirogabriel commented on #61
@antoniouaa do you can get this issue?

[2020-10-01 21:36] antoniouaa commented on #61
I can take a look

[2020-10-01 21:37] riibeirogabriel commented on #64
Thanks!

[2020-10-01 21:37] #64 closed

[2020-10-01 21:38] riibeirogabriel commented on #61
Good, you can read the md files in /docs path, all suggestions are very welcome!

[2020-10-01 21:53] riibeirogabriel opened #67 "Remove unused dependencies in microservices"
There are python packages in requirements.txt of each microservice which don't are uses, we need remove this packages.

[2020-10-01 22:01] UdokaVrede commented on #61
is this open for hacktoberfest?

[2020-10-01 22:05] riibeirogabriel commented on #61
Hi @antoniouaa also, but @antoniouaa already get this  issue, i can get up new issues if you desire contribute whit this repo.

[2020-10-01 22:42] StephanieGreenberg commented on #67
Can I be assigned to this?

[2020-10-01 22:56] StephanieGreenberg commented on #67
To me it looks like all dependencies are used.

[2020-10-01 23:36] riibeirogabriel commented on #67
Hi, in Model Builder microservice, the numpy package seems which not used, you need remove this package from requirements.txt and from modelbuilder.py

[2020-10-02 00:00] #67 closed

[2020-10-02 00:05] riibeirogabriel opened #70 "Get an insight to make the readme project more attractive"
Currently there are people which don't understand the project purpose, and leave the repo, if you can give a insight to make the project more attractive, please let a comment.

[2020-10-02 00:15] riibeirogabriel commented on #70
Please read the docs before gives a suggestion.

[2020-10-02 02:10] banjtheman commented on #70
Need to show the output this tool can do,  and why it's cool. No one cares about an architecture diagram
Show how people can use the program quickly as well.
i.e

[code]

[2020-10-02 03:30] navendu-pottekkat commented on #70
Here are some changes to the README I suggest:

- [ ] Add a header image

- [ ] Add install instructions

- [ ] Add usage instructions

- [ ] Add usage examples

- [ ] Add all contributors

Some other stuff:

- [ ] Add issue and PR templates

- [ ] Add code of conduct

@riibeirogabriel Do let me know if these changes could work and I will make a PR!

[2020-10-02 04:08] Nish251103 commented on #70
I can help you with adding a menu driven program which will make it much easier for the the user to interact. Kindly assign me the issue.

[2020-10-02 04:10] Nish251103 opened #71 "Menu driven Program"
I can help you with adding a menu driven program which will make it much easier for the the user to interact. Kindly assign me the issue.

[2020-10-02 06:59] izharqadeer commented on #70
Firstly, make the project users friendly so that every one including beginners can understand the code and don't forget to give a short description about the project.

[2020-10-02 07:22] riibeirogabriel commented on #71
@Nish251103  sorry i yet don't understand, you think to make a GUI for learningOrchestra?

[2020-10-02 07:29] riibeirogabriel commented on #70
@banjtheman did you see the learningOrchestra docs? (https://riibeirogabriel.github.io/learningOrchestra/usage/)
in each microservice section there is an example of usage, and in python package (https://pypi.org/project/learning-orchestra-client/) there is an example of usage with titanic dataset challengue from Keagle.

[2020-10-02 07:29] Nish251103 commented on #71
i mean adding a mean which consists of the available machine learning tools and also apart from that i can add linear regression algorithm

[2020-10-02 07:32] riibeirogabriel commented on #70
@navendu-pottekkat thanks! did you see the docs?  (https://riibeirogabriel.github.io/learningOrchestra/usage/), some tasks of your list i think which already done.

[2020-10-02 07:35] riibeirogabriel commented on #71
It seems good, do you think wich these menu shows in repo readme or in learningOrchestra docs (https://riibeirogabriel.github.io/learningOrchestra/)?

[2020-10-02 07:37] riibeirogabriel commented on #70
@banjtheman I will remove the architecture image, thanks!

[2020-10-02 07:37] Nish251103 commented on #71
i could write a python program for it

[2020-10-02 07:42] riibeirogabriel commented on #71
I think which already was  created  these python program with all options, did you think a program like this (https://pypi.org/project/learning-orchestra-client/) ?

[2020-10-02 07:47] Nish251103 commented on #71
oh something like this. So as its already there so can i help you with something with python language. If you have any task to be done which requires my python knowledge. Thank you

[2020-10-02 08:00] riibeirogabriel commented on #71
@Nish251103 the python package is showed in docs, but if you don't saw this, this docs seems not good to new users.
There are some python tasks, later i will publish them and notify you, ok? please give a star to help spread the project.

[2020-10-02 08:06] Nirali0029 commented on #70
Personally from my experience I can say, many people don't understand the project purpose due to the difficult words used. Imagine for a beginner who just started programming, how can you expect to understand all terms. And once, if you don't understand  a word, your interest in it starts decreasing and eventually you leave it. So, along with readme. add in bottom meaning of some difficult terms l

[2020-10-02 08:13] riibeirogabriel commented on #70
@Nirali0029 thanks! I think which you is right, but if i add all words means, the readme can be bigger, but perhaps i can add a hyperlink in each word directing to a site explaining that mean.

[2020-10-02 08:19] Nish251103 commented on #71
sure, Thank you. I would be happy to contribute and ofcourse it deserves a star

[2020-10-02 08:24] navendu-pottekkat commented on #70
Yes, I saw that. But that is in a separate doc website right. Maybe a quick guide on all that on the README?

Here is a project I am working on https://github.com/nsfw-filter/nsfw-filter , so something like this. IDK just a suggestion.

[2020-10-02 09:09] riibeirogabriel commented on #61
@antoniouaa thanks!

[2020-10-02 09:09] #61 closed

[2020-10-02 09:11] riibeirogabriel commented on #70
@navendu-pottekkat Do you could make a PR? it seems good!

[2020-10-02 09:13] navendu-pottekkat commented on #70
@riibeirogabriel sure, i will make one by EOD

[2020-10-02 09:18] riibeirogabriel commented on #70
@navendu-pottekkat please, if you can, make the changes which you think good, based on your wishlist.

[2020-10-02 09:51] riibeirogabriel opened #73 "Remove duplicated code in docker-compose.yml"
The docker-compose.yml has several parts of duplicated code, we need remove the dupicated code, this can help https://docs.docker.com/compose/compose-file/#extension-fields.

[2020-10-02 09:52] riibeirogabriel commented on #73
@Nish251103

[2020-10-02 10:31] Nish251103 commented on #73
okay i would do the needful

[2020-10-02 11:35] Nish251103 commented on #73
done

[2020-10-02 11:59] riibeirogabriel opened #75 "Remove the interface defined in sufixed Interface classes"
The microservices code have sufixed Interface class name which define a interface, we need remove this interface classes in each microservice.

[2020-10-02 12:43] navendu-pottekkat commented on #70
@riibeirogabriel I have some questions that need clarifications. Do the Python package and the shell script differ in function?

From what I understand, we have a python package and a shell script that can be deployed and we should provide docs for both?

[2020-10-02 12:48] riibeirogabriel commented on #70
Hi @navendu-pottekkat, the shell script makes the deploy of the software, you can see how use here (https://riibeirogabriel.github.io/learningOrchestra/install/) and the python package, is a way to use the Learning Orchestra without use the REST API of each microservice, the python package is a feature, and the shell script is necessary to deploy the learningOrchestra, do you understand?

[2020-10-02 12:50] riibeirogabriel commented on #70
I set the Python package docs in PiP repo to don't replicate the docs, the PiP need a readme.

[2020-10-02 12:52] navendu-pottekkat commented on #70
@riibeirogabriel Now I get it. I have started a draft PR also, I will try to finish it today itself. Also looking forward to help you promote the project after I complete.

[2020-10-02 12:58] riibeirogabriel commented on #70
@navendu-pottekkat I see this draft, i like this, it will be good, i am also trying promote this project, it did takes a long time of development and there are more funcionatilites to be added.

[2020-10-02 13:02] navendu-pottekkat commented on #70
I love contributing and seeing open source projects getting big! It is great feeling after you have done such hard work. I will help as much as I can.

[2020-10-02 13:11] navendu-pottekkat commented on #70
@riibeirogabriel In this [instruction](https://riibeirogabriel.github.io/learningOrchestra/install/), you have not provided this.

In the VM you would have to clone this repo first and then run the `run` script right?

[2020-10-02 13:12] riibeirogabriel commented on #70
@navendu-pottekkat yes, in manager docker swarm machine, ok?

[2020-10-02 13:13] riibeirogabriel commented on #70
I forget to cite this, i will fix in site docs

[2020-10-02 15:08] riibeirogabriel commented on #70
@navendu-pottekkat thank you very much!

[2020-10-02 15:10] riibeirogabriel commented on #70
Now i think which users will better understanding of learning Orchestra objective and how usage.

[2020-10-02 15:12] navendu-pottekkat commented on #70
I will also make some other PRs that would help and make a ticket regarding the promotion

[2020-10-02 15:18] riibeirogabriel commented on #70
@navendu-pottekkat very nice, feel free to make any suggestions!

[2020-10-02 16:38] #70 closed

[2020-10-02 16:38] #71 closed

[2020-10-02 16:47] navendu-pottekkat opened #77 "Add Issue Templates and PR Templates"
Add issue and PR templates to make it easy for developers and making things easy.

I will make a PR with the fix to this issue.

[2020-10-02 17:03] #77 closed

[2020-10-02 17:13] navendu-pottekkat opened #79 "Promoting learningOrchestra- Ideas"
These are some ideas I have to promote this project.

We can share ideas here and grow the community around this project.

**Sharing in the following platforms**

https://news.ycombinator.com/show:

https://www.reddit.com/

https://www.producthunt.com/

https://dev.to

https://twitter.com/home

We can discuss a strategy and decide the posts on these platforms and then plan a release.

[2020-10-02 17:16] navendu-pottekkat commented on #79
I have tried these platforms and actually made it to trending repos in GitHub. After that we would get daily visits and users and contributors. Then we can make this project even better!

[2020-10-02 17:18] riibeirogabriel commented on #79
@navendu-pottekkat good! I will make a post in these platforms.

[2020-10-02 17:18] riibeirogabriel commented on #79
@navendu-pottekkat we need stars to be a trending repo?

[2020-10-02 17:19] navendu-pottekkat commented on #79
It should be planned and timing is also key. It is all about driving traffic initially. Do let me know how I can help.

Also I would suggest using the banner image in the README as the repo preview image

[2020-10-02 17:22] riibeirogabriel commented on #79
How we plan the posts to make a right time? There are good times to publicate?

[2020-10-02 17:26] navendu-pottekkat commented on #79
We could spread our posts across different timezones.

We could make a post that would hit the US in the morning.

Then we could also make a post that would hit the eastern parts too.

This is very useful because people check these stuff at particular times and we need to reach them during those times.

It is all about prioritizing. And the posts should be well planned and they would be different

[2020-10-02 17:30] riibeirogabriel commented on #79
@navendu-pottekkat good, how we can split the tasks?

[2020-10-02 17:30] riibeirogabriel commented on #79
@navendu-pottekkat again, thanks! you are awesome!

[2020-10-02 17:35] navendu-pottekkat commented on #79
You could start by creating a ProductHunt account, they have some validation period. We will first try to get featured in ProductHunt. I would suggest you to go through the products in the site to get an idea and we can think of how we can make a post. I will also think of the post and we can collaborate.

[2020-10-02 17:36] riibeirogabriel commented on #79
Okay, i wiil make it now.

[2020-10-02 21:44] hiperbolt commented on #75
I'll try to fix this issue.

[2020-10-03 04:34] navendu-pottekkat opened #80 "Add hacktoberfest labels and topics to repo"
As per the updated hacktoberfest rules, repos with hacktoberfest are only counted. Since we want to make our repo visible, we could add issues labelled hacktoberfest and mark PRs from now with hacktoberfest-accepted.

Check this doc for more info https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-03 04:36] navendu-pottekkat opened #81 "Add all-contributors bot to recognize contributors"
@riibeirogabriel Would you add all-contributors bot to this repo?

This is a good way to recognize all the contributors to this repo.

You can check here on how to do this: https://allcontributors.org/

[2020-10-03 06:54] navendu-pottekkat opened #82 "Move learningOrchestra to a GitHub organization"
It would be easier to manage stuff in the future if everything is under one organisation.

Also keep two repos one for the the core code and the other for python-client.

You can transfer ownership without losing stars and stuff by creating a new user--> making user into an organisation --> transferring repo to that organisation

[2020-10-03 08:41] riibeirogabriel commented on #82
@navendu-pottekkat okay, i will see this now.

[2020-10-03 09:05] riibeirogabriel commented on #82
@navendu-pottekkat done, you can make a logo to organization profile like the header image created?

[2020-10-03 09:07] navendu-pottekkat commented on #82
@riibeirogabriel Yes, I will do that. Meanwhile you can move the python-client to a different repo

[2020-10-03 09:09] riibeirogabriel commented on #80
Right, i will add a topic in this repo and get up issues with this label.

[2020-10-03 09:12] riibeirogabriel commented on #82
@navendu-pottekkat yes, transfering now.

[2020-10-03 09:19] riibeirogabriel commented on #80
@navendu-pottekkat done.

[2020-10-03 09:23] riibeirogabriel commented on #82
@navendu-pottekkat what repo name you suggest to create, i and my advisors planned create futures clients in java, javascript, etc to learningOrchestra, then i think a repo with /pythonClient name, what do you think?

[2020-10-03 09:23] navendu-pottekkat commented on #80
@riibeirogabriel Nice, we will add hacktoberfest label to issues and hacktoberfest-accepted to PRs

[2020-10-03 09:26] navendu-pottekkat commented on #82
yeah we could have this repo /learningOrchestra and the clients could be /learningOrchestra-python-client

The "-" is generally used in GitHub right?

[2020-10-03 09:28] riibeirogabriel commented on #82
@navendu-pottekkat right, i will make it.

[2020-10-03 09:31] navendu-pottekkat commented on #82
@riibeirogabriel We can also move the docs to a separate page. Just to make things modular.

I will try to design a web page too with the docs and a landing page.

[2020-10-03 09:35] riibeirogabriel commented on #82
@navendu-pottekkat yes, it will be amazing!
Do you want create other repo to docs?

[2020-10-03 09:38] navendu-pottekkat commented on #82
right now you can move the docs folder to a separate repo and use gh-pages to host. I will then work on it. Should it be a landing page and repo or separate landing page and then a docs page ?

[2020-10-03 09:45] riibeirogabriel commented on #82
Good, i will also copy the templates created by you, alright? I think which a separate landing page linking to docs-page could be a good idea, but you decide!

[2020-10-03 09:47] navendu-pottekkat commented on #82
We can keep the docs as separate repo for now and we will see after we create the page

[2020-10-03 09:48] riibeirogabriel commented on #82
@navendu-pottekkat seems good

[2020-10-03 09:48] navendu-pottekkat commented on #82
Have you thought of getting a domain name? If that is the case, we can have a primary domain and the subdomain like docs.website.com for hosting the docs and all. Anyway I will work on the front end of the landing page and docs

[2020-10-03 09:50] riibeirogabriel commented on #82
We can get this, do you think a .com domain?

[2020-10-03 09:52] navendu-pottekkat commented on #82
IDK what do you think? This is really useful for scaling this to a large audience. Maybe get something that is cheaper and also easily recognisable? Are there any other core contributors working on this? Let's ask what they think too

[2020-10-03 10:01] riibeirogabriel commented on #82
I think .com domain a good choose, but searching seems not available, the learningOrchestra is a Monograph work in my Computer Science course, in next week i have a meet with my advisors and a possible new contributor to create a new feature in learningOrchestra, it will be a set of mircoservices to run a function/algorithm using distributed computing, it willl be builded using javascript. But i c

[2020-10-03 10:02] riibeirogabriel commented on #82
And i will keep developing the data scientist porpouse of learningOrchestra, there are too new requested features.

[2020-10-03 10:02] riibeirogabriel commented on #82
I will create a set of issues to new contributors

[2020-10-03 10:03] navendu-pottekkat commented on #82
@riibeirogabriel Ok, sounds cool. I will work on the docs and the landing page this week.

[2020-10-03 10:04] riibeirogabriel commented on #82
@navendu-pottekkat great! and thanks!

[2020-10-03 10:05] navendu-pottekkat commented on #82
@riibeirogabriel Can I ask why the name learningOrchestra?

[2020-10-03 10:10] riibeirogabriel commented on #82
Yes, learning is the machine learning purpouse, and the orchestra is by make a bit of services orchestration, but we will add deep learning microservices in next release and use new machine learning players, currently learningOrchestra uses the sparkML lib to make the machine learning model, but we want use sklearn, pytorch, open the set of possibilities.

[2020-10-03 10:11] riibeirogabriel commented on #82
learningOrchestra was planned to treat BigData datasets, this explain the cluster environment and the spark uses.

[2020-10-03 10:12] navendu-pottekkat commented on #82
Nice, Also maybe TensorFlow. I am a big fan of TensorFlow.

[2020-10-03 10:16] riibeirogabriel commented on #82
TensorFlow also, it is a main player request by my data scientist advisor, i forget cite it, you will can contribute to learningOrchestra in next release of course if you wat.

[2020-10-03 10:16] navendu-pottekkat commented on #82
Of course, I will try to contribute

[2020-10-03 10:17] riibeirogabriel commented on #82
You can suggest new features!!

[2020-10-03 10:25] riibeirogabriel commented on #81
@navendu-pottekkat it seems very good, i wiil see this after migrate the python client and docs, okay?

[2020-10-03 10:26] navendu-pottekkat commented on #81
@riibeirogabriel sure!

[2020-10-03 11:21] riibeirogabriel commented on #81
@navendu-pottekkat i have intalled the bot in all repos.

[2020-10-03 11:28] riibeirogabriel commented on #81
now we need call the bot?

[2020-10-03 11:45] navendu-pottekkat commented on #81
yes, like this @all-contributors please add @navendu-pottekkat for doc and ideas

[2020-10-03 11:46] navendu-pottekkat commented on #81
@riibeirogabriel Could you change the readme.md to README.md?

[2020-10-03 11:48] riibeirogabriel commented on #81
@navendu-pottekkat done

[2020-10-03 11:48] navendu-pottekkat commented on #81
https://allcontributors.org/docs/en/emoji-key

You can then use the emoji key to add contributions of the contributors. The bot will make a PR to the README automatically

[2020-10-03 11:49] navendu-pottekkat commented on #81
Like this: https://github.com/nsfw-filter/nsfw-filter#contribute

[2020-10-03 11:55] riibeirogabriel commented on #81
sounds good, @all-contributors please add @riibeirogabriel for code, infra, projectManagement, mentoring, maintenance

[2020-10-03 11:56] riibeirogabriel commented on #81
@navendu-pottekkat try again

[2020-10-03 11:57] navendu-pottekkat commented on #81
You merge your PR and after that I will try again

[2020-10-03 12:00] navendu-pottekkat commented on #81
@all-contributors please add @navendu-pottekkat for doc, design and ideas

[2020-10-03 12:01] navendu-pottekkat commented on #81
Anytime someone makes a contribution we can immediately call the bot and credit them to encourage contributions

[2020-10-03 12:08] riibeirogabriel commented on #81
@navendu-pottekkat it sounds very good!

[2020-10-03 12:08] riibeirogabriel commented on #81
But the bot crash the readme badges haha

[2020-10-03 12:12] navendu-pottekkat commented on #81
That is because I used HTML format for the badges. It will be an easy fix. I will make PR

[2020-10-03 12:18] navendu-pottekkat commented on #82
@riibeirogabriel We can remove the python client from this repo right? Also moving the docs to another repo? I am currently working on the Python client readme docs

[2020-10-03 12:21] riibeirogabriel commented on #82
@navendu-pottekkat I will make this now, good!

[2020-10-03 12:26] navendu-pottekkat commented on #82
@riibeirogabriel I have made the logo but I cannot add it since I am not admin of the organisation. How should I share it?

[2020-10-03 12:35] riibeirogabriel commented on #82
How i add you how admin?

[2020-10-03 12:35] navendu-pottekkat commented on #82
Maybe in the organisation settings?

[2020-10-03 12:37] riibeirogabriel commented on #82
I am searching

[2020-10-03 12:46] riibeirogabriel commented on #82
@navendu-pottekkat done

[2020-10-03 12:49] navendu-pottekkat commented on #82
@riibeirogabriel Made the changes. I have added some description also. We can improve in the future

[2020-10-03 12:52] riibeirogabriel commented on #82
Good!

[2020-10-03 13:43] riibeirogabriel commented on #82
@navendu-pottekkat I removed the python client and docs from this repo.

[2020-10-03 16:02] #82 closed

[2020-10-03 16:03] #81 closed

[2020-10-03 18:21] #80 closed

[2020-10-04 08:04] riibeirogabriel commented on #75
@sudiptog81 sorry, this issue already assigned to a person.

[2020-10-04 12:36] learningOrchestraAccount opened #90 "Implement tests in microservices"
#### Is your feature request related to a problem? Please describe.

Currently the microservices are hard to make tests, when a PR is created, we need deploy learningOrchestra in a cloud cluster to verify the changes, it is painful!

#### Describe the solution you'd like
There are a way to make testes to test each microservice to ensure the correct working? I don't know a exactly solution.

#### D

[2020-10-04 12:39] learningOrchestraAccount commented on #90
@sudiptog81 do you have knowledge to help us with this issue?

[2020-10-04 12:39] riibeirogabriel commented on #90
@sudiptog81 do you have knowledge to help us with this issue?

[2020-10-04 12:44] #75 closed

[2020-10-04 12:47] #73 closed

[2020-10-04 12:55] sudiptog81 commented on #90
@riibeirogabriel I have written tests for REST APIs, I would need to deploy this project to get a feel, working on this. Microservices would need to be distributed across repositories and added as submodules to this repository at some point, when the tight-coupling has been taken care of.

There could be unit tests for each microservice that can be run as separate CI jobs for individual branches a

[2020-10-04 13:04] riibeirogabriel commented on #90
@sudiptog81 it sounds like a big challengue!
If we put each microservice in a repo, how we will make the deploy of the learningOrchestra?
The user will clone each repo in a subfolder like the microservices?
It will be painful.

[2020-10-04 13:09] sudiptog81 commented on #90
They are separate ideas. Regarding cloning, the `--recursive` flag shall take care of that, but that idea is for the future. Right now, we can work on individual unit tests and then run all the unit tests using a test script. I still need to work on how to deploy the cluster from a CI environment after tests have run.

[2020-10-04 13:13] riibeirogabriel commented on #90
You will be very help to this project, i don't know a way to use CI tests with a distributed software, without make the deploy, maybe using mock files.

[2020-10-04 13:14] riibeirogabriel commented on #90
Do you have a cluster environment (3 machines) to run this software and know how it works?

[2020-10-04 13:14] riibeirogabriel commented on #90
Maybe can run with 2 machines.

[2020-10-04 13:34] navendu-pottekkat opened #91 "Improve Docs"
The docs of learningOrchestra need to be **validated**, **tested** and **improved** by **test users**. The doc could be the README and the [docs page](https://github.com/learningOrchestra/learningOrchestra-docs).

[2020-10-04 13:37] navendu-pottekkat opened #92 "Improve the website"
The landing page of learningOrchestra: https://github.com/learningOrchestra/learningOrchestra.com, can be improved by-

- Changing the design
- Adding more info
- And anything else that would help

[2020-10-04 13:51] riibeirogabriel commented on #92
@navendu-pottekkat I never thought that learningOrchestra will get this, this is so, so cool!

[2020-10-04 13:51] riibeirogabriel commented on #92
I will provide a domain

[2020-10-04 13:51] riibeirogabriel commented on #92
and thanks!

[2020-10-04 13:53] navendu-pottekkat commented on #92
You can add the custom domain and add docs subdomain to  our docs

[2020-10-04 13:55] riibeirogabriel commented on #92
Yes, i will make this, yet in this week.

[2020-10-04 14:07] riibeirogabriel commented on #90
@all-contributors please add @hiperbolt  for code and ideas

[2020-10-04 14:08] hiperbolt commented on #90
@sudiptog81 I suggest maybe an azure pipeline with pre-made mock files. I'm interested on how this issue gets fixed.

[2020-10-04 14:15] riibeirogabriel commented on #90
@sudiptog81 Would you like make this issue together with @hiperbolt ?

[2020-10-04 15:54] LaChapeliere commented on #91
Hi, I'm happy to help with the doc, because I had trouble understanding what the project was about when looking through the readme. Focussing on user doc (rather than dev doc), I'm proposing to go over the Readme with the view of a user who knows how to do data mining scripts but might not be familiar with infrastructure, cloud services, microservices...

[2020-10-04 16:07] LaChapeliere commented on #91
Proposed outline:

1. One-sentence summary
2. Thumbnail and indicators
3. Introduction: what is the project, who is it for, why should I use it?
4. Table of Contents
5. Quick-start
6. Installation instructions
7. Usage instructions
8. About learningOrchestra

[2020-10-04 16:08] LaChapeliere commented on #91
I'll start a branch and update here when I'm missing info

[2020-10-04 16:13] LaChapeliere commented on #92
What about a ReadTheDoc setup? The design wouldn't be very specific but it's made for dev documentation

[2020-10-04 16:37] navendu-pottekkat commented on #91
@LaChapeliere Thank you for contributing. Sure you can make the changes to the README and the docs repo. You can maybe start a draft PR so we can track the progress.

[2020-10-04 16:39] navendu-pottekkat commented on #92
We have a readthedoc setup already, there is also a separate landing page for the project https://github.com/learningOrchestra/learningOrchestra.com

[2020-10-04 16:41] LaChapeliere commented on #91
First question, probably for @riibeirogabriel
"learningOrchestra facilitates and streamlines iterative processes in a **Data Science** project pipeline " but "learningOrchestra is a distributed **Machine Learning** processing tool"
After reading your monograph, I think I understand why you used data science in one case and machine learning in another, but for user-friendliness purposes, I strongly

[2020-10-04 16:42] LaChapeliere commented on #92
Cool, my bad? Are you serving it anywhere yet? Because when following the link to the doc, I ended up in a repo with markdown files, not on a documentation page

[2020-10-04 16:47] navendu-pottekkat commented on #92
This is the landing page: [Landing page](https://learningorchestra.github.io/learningOrchestra.com/)
[Landing page repo](https://github.com/learningOrchestra/learningOrchestra.com)

This is the doc page: [Doc page](https://learningorchestra.github.io/learningOrchestra-docs/)
[Docs repo](https://github.com/learningOrchestra/learningOrchestra-docs)

[Python Client repo](https://github.com/learningOr

[2020-10-04 16:50] navendu-pottekkat commented on #91
I think so too. I also think that the exact purpose of this project gets lost somewhere in the docs. How can we clear things in the README and the docs?

PS: We can first fix the README and then move on to the rest of the docs.

[2020-10-04 17:07] LaChapeliere commented on #92
Ah, yes, cool webpage! I think the links in the Readme are broken actually, that's why I didn't end up on those, the only link I found that works was to the docs repos.

[2020-10-04 17:12] navendu-pottekkat commented on #92
Yes they are a work in progress, we moved to an organisation account from @riibeirogabriel 's personal account and there are some loose ends that we need to fix.

We will fix them before we promote the repo in the coming weeks.

@LaChapeliere You will check and fix the docs right?

[2020-10-04 17:15] LaChapeliere commented on #91
@navendu-pottekkat I've shared a first proposition for the intro in this draft PR :arrow_up:
You are right, let's not try to change everything at the same time. Plus improving the docs requires to understand the code so it's more work ^^

[2020-10-04 17:16] LaChapeliere commented on #92
Can do. It'll take me some time to reach that part though

[2020-10-04 17:19] riibeirogabriel commented on #91
Yep, I also guess. We can make the readme with data scientist porpose, the "distributed machine learning processing tool" was provided in project begin, when us wanted make a distributed tool, but this mindset was changed.

[2020-10-04 17:21] LaChapeliere commented on #91
I'll write the Readme from that perspective, and you can decide whether to change the motto and thumbnail later on that way

[2020-10-04 17:29] LaChapeliere commented on #91
@riibeirogabriel I'm trying to figure out the installation process. There's one big thing that is unclear for me: you mention Linux **hostS** and clusters, so I'm guessing you can run learningOrchestra in multithread over several machines? If that's the case, how/where do you link the machines together?
Also, you need to already own the machines on which you are running learningOrchestra, right? S

[2020-10-04 17:44] riibeirogabriel commented on #91
We link the machines with docker swarm, a requirement to run the learningOrchestra is a docker swarm cluster provided by user, with this cluster, we can run the learningOrchestra without worry with infrastructure, and yes, the user need rent machines in cloud to use learningOrchestra, but if already have local machines, is possible run locally, What kind of feature you think to can facilitate this

[2020-10-04 17:44] riibeirogabriel commented on #91
The user need create a docker swarm cluster to link the machines.

[2020-10-04 17:47] LaChapeliere commented on #91
Yup, I understand, thank you! I have no idea how to set up a cluster swarm but guess I'll have to read up on it then :D
I'm not sure what kind of feature would facilitate that, but I know it would make a huge difference for non-"System and architecture" oriented data scientists like me.
Honestly, even ssh-ing into the university-maintained cluster makes some of us run away screaming :scream_cat:

[2020-10-04 17:51] riibeirogabriel commented on #91
We put in requeriments a link tauthing how create a docker swarm cluster, it is easy! i agree with you, we need make more easy the architecture/infresctructure part from learningOrchestra, I will create an issue!

[2020-10-04 17:56] riibeirogabriel opened #96 "How facilitates the infrastructure requirements to users?"
#### Is your feature request related to a problem? Please describe.
Currently learningOrchestra needs a knowledge in architecture and infrastructure to deploy.
#### Describe the solution you'd like
There are a way to facilitate or abstract the infrastructure requirements to deploy the learningOrchestra?
#### Describe alternatives you've considered

#### Additional context

[2020-10-04 18:09] LaChapeliere commented on #91
@riibeirogabriel The microservices rest API has to be called with curl, right? Could you give me any example of a complete command you would enter in the terminal of your manager instance to use one of the microservices?
(Sorry for my many tech questions)

[2020-10-04 18:14] riibeirogabriel commented on #91
@LaChapeliere curl is not friendly to user, we can use other programs with GUI like postman or insomnia to use the REST APIs, the calls to each API is showed in each microservice docs, take a look in a GUI REST API caller (postman) using a learningOrchestra microservice:
![image](https://user-images.githubusercontent.com/33736256/95023542-0a9ccd80-0654-11eb-95e4-00d46470f784.png)
You can see each

[2020-10-04 18:19] LaChapeliere commented on #91
@riibeirogabriel I'm not sure whether to cry or be happy, I've always muddled through with curl because I thought I didn't have any other option... Thanks!

[2020-10-04 18:21] riibeirogabriel commented on #91
hahaha, the python package was created to abstract the calls to user, the user only need call the methods from each microservices Class and it is done!

[2020-10-04 18:27] LaChapeliere commented on #91
@riibeirogabriel I've pushed the quick start to PR #95, could you please check that I haven't missed anything? That way I'll dive into the more detailed instructions

[2020-10-04 19:09] LaChapeliere commented on #91
@riibeirogabriel Would learningOrchestra work on a single-node swarm or is it a deal breaker?

[2020-10-04 19:13] riibeirogabriel commented on #91
If this node has around 12 gb of RAM, a quad-core processor and 100 gb of disk, it can work with small datasets, but to treat with big data, a cluster is necessary!

[2020-10-04 19:17] LaChapeliere commented on #91
Wow, quad-core processor?

Yeah, I guessed resources would be the problem, though I didn't imagine it to require that much. I just wanted to check that learningOrchestra wouldn't crash on a single node.

[2020-10-04 19:22] LaChapeliere commented on #91
Another noob question, because I don't have the setup to run it on my own computer: I imagine when we run `sudo ./run.sh`, it runs on a loop and we have to run the python client commands/the REST calls from another terminal? And we can terminate learningOrchestra like any command-line program, with Ctrl^C?
Bonus question: Have you tried to see what happens with terminal multiplexers that enable pe

[2020-10-04 19:29] riibeirogabriel commented on #91
Yep, learningOrchestra was not planned to run in a single node.

[2020-10-04 19:34] riibeirogabriel commented on #91
Not works in this way, the run make the deploy and it  finish haha, to shutdown the learningOrchestra is ncessary run `docker stack rm microservice`, you remind me to put this in the docs, there is no information of how shutdown this software.

[2020-10-04 19:37] riibeirogabriel commented on #91
`Bonus question: Have you tried to see what happens with terminal multiplexers that enable persistent session, like tmux?`, it apply if the run.sh execution is endless, right?

[2020-10-04 19:41] LaChapeliere commented on #91
Yes, it doesn't matter since the deploy is one-time.

[2020-10-04 20:01] LaChapeliere commented on #91
How long is the deploy, typically?

[2020-10-04 20:08] riibeirogabriel commented on #91
Around 10 minutes, but it rely from machine resources.

[2020-10-05 11:38] riibeirogabriel commented on #63
@all-contributors please add @joubertlima for ideas, mentoring, projectManagement

[2020-10-05 11:39] riibeirogabriel commented on #63
@all-contributors please add @lauromoraes for  ideas, mentoring, projectManagement

[2020-10-05 11:51] riibeirogabriel commented on #63
@all-contributors please add @LaChapeliere  for doc

[2020-10-05 15:39] LaChapeliere commented on #91
@riibeirogabriel Could you confirm the categories I've assigned to each microservice, please?

Database API- Gather data
Projection API- Visualize data and results (I'm assuming we're talking about mapping data points into display points?)
Data type API- Clean data
Histogram API- Visualize data and results
t-SNE API- Train machine learning models + Visualize data and results
PCA API- Train machine

[2020-10-05 15:45] LaChapeliere commented on #96
Would only be a partial solution, but how about a decision tool? Like, an interactive decision tree on the website that helps you know what type of hosts would be best, how much of them, with what characteristics...
One thing that baffles me is how opaque services like AWS and equivalent are for beginners. Like, there should be a big button saying "Only want a basic Linux VM that's kind of like yo

[2020-10-05 17:28] riibeirogabriel commented on #96
learningOrchestra has minimum requirements for a VM, then the user need instantiate a VM with this requirements, did you think in this way?

[2020-10-05 17:42] LaChapeliere commented on #96
Hum, I feel like we are not understanding each other, but I'm not sure.
"learningOrchestra has minimum requirements for a VM" -> What about the additional requirements due to for example the size of the dataset or specific microservices they want to use that require more memory?
 "the user need instantiate a VM with this requirements" -> Sounds easy when you say it like that, but anything you can

[2020-10-05 17:50] LaChapeliere commented on #91
Just a checklist to keep track of the progress:

- [ ] User-friendly README
- [ ] User doc: microservices
- [ ] User doc: python package
- [ ] Clarify the different repos
- [ ] Dev doc + contributing guide
- [ ] Going back to usage instructions in Readme to update with links to the rest of the doc
- [ ] Get a new user (or several) to follow the doc on a simple use case
- [ ] Solve detected problem

[2020-10-05 17:56] riibeirogabriel commented on #96
"learningOrchestra has minimum requirements for a VM" -> You are rigth, we put this minimum requirements based on titanic dataset, we need review this requirements and create an orientation to user.
"the user need instantiate a VM with this requirements" -> You also are right, I will elaborate a process to guide the user to instantiate a VM, taking main cloud computing players.

[2020-10-05 17:57] riibeirogabriel commented on #96
I will create issues to each problem listed by you, maybe github users can collaborate.

[2020-10-05 18:06] riibeirogabriel commented on #91
Database API- CRUD operations from preprocessed data/new data and results (Excepting t-sne and PCA APIs, each of them has own CRUD operations)
Projection API- Preprocessing data, creating a projection from a stored dataset, i don't understand your ask.
Data type API- Preprocessing data, changing the type of data fields (between text and number type, it is main of JSON types)
Histogram API- Preproc

[2020-10-05 18:06] riibeirogabriel commented on #91
@LaChapeliere DO you understand each microservice function?

[2020-10-05 18:08] riibeirogabriel commented on #91
All microservices, excepting t-SNE and PCA make CRUD from your data using the database API mircoservice, then the user must use the database API microservice to visualize and handling results from ohter microservices.

[2020-10-05 18:09] riibeirogabriel commented on #91
the t-SNE and the PCA don't store your data in mongoDB, then them have own CRUD operations in each.

[2020-10-05 18:18] LaChapeliere commented on #91
I understand the microservices better now, thanks :+1:
I was actually trying to sort them into categories corresponding to the data science pipeline steps you are covering. So could you label each microservice with those: Gather data, Clean data, Train machine learning models, Evaluate machine learning models, Visualize data and results?
Or tell me how else you'd like to categorise them if this do

[2020-10-05 18:49] riibeirogabriel commented on #91
When we written the first monograph , we catalog the mircoservices  in 8 types, they are: Load Data; Load Model, Pre-
processing; Tuning; Training; Evaluation; Production; and Observer, but nowadays there are not all microservices types createds, we plan create all types till second monograph, but the exsting microservice are cataloged in this types:
Database API- Load Data
Projection API- Preproc

[2020-10-05 18:50] riibeirogabriel commented on #91
Then, maybe you meant categorize the types in preprocessing , right?

[2020-10-05 19:07] LaChapeliere commented on #91
Hum, is your advisor a data scientist? Your preprocessing sounds weird to me. For me, preprocessing means preparing the data so that you can run analyses on it. Data cleaning, type casting, date formatting, stop word removal, ...

[2020-10-05 21:27] LaChapeliere commented on #92
Found this: http://opencobra.github.io/
I think the design's awesome (maybe not completely accessible, I haven't checked the accessibility features) and @riibeirogabriel might also find some structure or feature ideas in their packages

[2020-10-05 21:50] riibeirogabriel commented on #91
One of my advisors is a data scientist, learningOrchestra needs more microservices to also make this steps, but you need to you how model builder microservice works, the model builder has as parameter a python 3 code, this code is written by user, with this code the data scientis can treat the particularities from a dataset, we did think which none microservice can treat the particularities from a

[2020-10-05 21:58] riibeirogabriel commented on #91
And i will work in your PR tomorrow!

[2020-10-05 21:59] LaChapeliere commented on #91
I think that you definitively need to cut that microservice into several ones :rofl:
But I agree with your labelling for that microservice, I was more surprised that you labelled Projection API, Histogram API, t-SNE API, and PCA API as "Preprocessing".
For me t-SNE and PCA are models.
The projection can be simple visualisation, or machine learning model depending on what kind of projection it is.

[2020-10-05 22:03] riibeirogabriel commented on #91
You is right! i also think that preprocessing was confused, but we will improve in next releases to second monograph, and yes, we will cut the model builder microservice in several microservices.

[2020-10-05 22:06] riibeirogabriel commented on #91
PCA and t-SNE definitively are not preprocessing microservices, my advisor have thinked in use them to visualizate the state of a dataset in each step on pipeline.

[2020-10-05 22:06] LaChapeliere commented on #91
I'll give some thought to the category names tonight and propose something else tomorrow?

[2020-10-05 22:12] riibeirogabriel commented on #91
Sounds good, there is no haste, and thanks!

[2020-10-06 00:01] riibeirogabriel commented on #90
@sudiptog81 Do you yet have interest in this issue? Case negative i can pass to other person.

[2020-10-06 00:52] sudiptog81 commented on #90
Please unassign me from this particular issue and pass on, kind of busy for a few days.

[2020-10-06 04:02] navendu-pottekkat commented on #92
looks good, maybe we can add it on top of our current website

[2020-10-06 08:38] riibeirogabriel commented on #90
@sudiptog81 no problems, if you have future interest, please send me a message.

[2020-10-06 08:38] riibeirogabriel commented on #90
@hiperbolt do you can this alone?

[2020-10-06 08:40] hiperbolt commented on #90
@riibeirogabriel Yeah I think I can work on this on my own.

[2020-10-06 08:46] riibeirogabriel commented on #90
I can help you, but i have little knowledge on microservices test, i think this require some studies about.

[2020-10-06 09:55] hiperbolt commented on #90
I'll take my time researching it. I'll talk to you about ideas on how to approach this.

[2020-10-06 21:36] hiperbolt commented on #90
I'm going with unit tests with mockfiles for each microservice, using github/azure pipelines for CI/CD. I'm going to start work on the mock files and unit tests and once those are done I'll update here.

[2020-10-07 07:41] riibeirogabriel commented on #62
@all-contributors please add @hiperbolt  as code and infra

[2020-10-07 07:44] riibeirogabriel commented on #62
@all-contributors please add @riibeirogabriel as bug, ideas, mentoring, question, review

[2020-10-07 08:20] riibeirogabriel commented on #62
@all-contributos please add @riibeirogabriel to review, mentoring and remove to infra, maintenance

[2020-10-07 08:21] riibeirogabriel commented on #62
@all-contributors please add @riibeirogabriel to review, mentoring

[2020-10-07 09:57] riibeirogabriel commented on #62
@all-contributors please add @sudiptog81 to code

[2020-10-07 13:34] navendu-pottekkat commented on #79
@riibeirogabriel When should we release?

[2020-10-07 13:44] riibeirogabriel commented on #79
You have more knowledge in promoting, i think which we can start spreading in any time, what do you think?

[2020-10-07 13:46] navendu-pottekkat commented on #79
We can first make a soft release on Reddit, Twitter and y combinator. Maybe we can write about the release as an article in Dev.to and Towards Data Science. What do you think?

[2020-10-07 13:54] riibeirogabriel commented on #79
You have more

Sounds very good, i will talk with my advisors about this article, they can help in this part, and we can stay with the promotion part, what do you think?

[2020-10-07 14:06] navendu-pottekkat commented on #79
Okay cool! I would suggest you to post on relevant subreddits the link to the repo. With the header text. Also we can tweet with relevant hashtags. I will reach out to some ML open source supporters on LinkedIn and try to get them to give a shout out.

You can start at maybe 9 AM LA Time which is like 2 hours from now on Reddit and Twitter and Y combinator and if you are in groups in LinkedIn, the

[2020-10-07 14:09] navendu-pottekkat commented on #79
From my experience, most of the traffic generally comes from y combinator, reddit and twitter. I will share the post content in just a minute

[2020-10-07 14:11] riibeirogabriel commented on #79
Great! i will make this, do you know good subreddits to make this posts?

[2020-10-07 14:11] riibeirogabriel commented on #79
Then i will share this in 9 am from LA?

[2020-10-07 14:13] navendu-pottekkat commented on #79
Ya 9 AM LA time is good right? It is still not late in Europe and the morning time in America so we could hit some traffic

[2020-10-07 14:18] navendu-pottekkat commented on #79
What do you think about this for Reddit?

learningOrchestra: Easily combine your various library and infrastructure needs for data science projects

Add the link and then in the comments, add a comment similar to our README file that is short but explains the purpose of learningOrchestra.

You can post it on relevant subreddits like:

r/MachineLearning

[2020-10-07 14:20] navendu-pottekkat commented on #79
@LaChapeliere You did the README, do you have any suggestions for the posts? I think it would be best if we plan it for a day and the post right.

And after we have decided on the posts, we can release it tomorrow?

[2020-10-07 14:21] riibeirogabriel commented on #79
@navendu-pottekkat I did talk with my advisors and  they think which now the learningOrchestra does'nt a stable version, with alll features planned in monograph, then maybe we can wait a time till we get a version with all planned features and then start the promotion, sorry if i disappoint you, but yet there are some features to be implemented.

[2020-10-07 14:22] navendu-pottekkat commented on #79
Yes, that is why I talked about the soft release. Maybe if we get more developers in they can help accelerate the development.

[2020-10-07 14:37] riibeirogabriel commented on #79
Yep, you is right, they are according with your suggestions about a soft release to get more developers, i will defend my monograph in this week, they want a time to discuss possible alternativies in learningOrchestra features from evaluator feedback, to they plan this soft release, do you can wait one week to start this release?

[2020-10-07 14:39] riibeirogabriel commented on #79
sounds very good, maybe we can edit adding the beta version and which we need more developers.

[2020-10-07 21:52] LaChapeliere commented on #79
I'm jumping on the bandwagon, from my outsider point of view it sounds like a good idea to wait until the feedback from @riibeirogabriel 's defense before promoting the project. If you give me a date, I can also plan so I'm done going through the doc, that way you'll maximise your chances of devs contributing or using the project.

[2020-10-08 03:34] navendu-pottekkat commented on #79
Sure that sounds good

On Thu, 8 Oct 2020 at 03:22, LaChapeliere <notifications@github.com> wrote:

[2020-10-16 08:52] riibeirogabriel commented on #79
@navendu-pottekkat after the monograph defense, we decide make an api refactoring, joining all requests of each microservice to one common endpoint, and also improving the semantic names in requests, then the user will can use the software more easily, we can start the promotion after this refactor, i will share with you the sketch when is done and you can suggest improviments before i start the i

[2020-10-16 08:54] navendu-pottekkat commented on #79
Sure! Let me know and I will be happy to help

On Fri, 16 Oct 2020 at 14:22, Gabriel Ribeiro <notifications@github.com>
wrote:

[2020-10-16 13:00] LaChapeliere opened #104 "Missing error handling in Data type microservice"
#### Bug description

I'm not entirely certain because I was not able to test it, but I believe the Data type microservice is missing some error handling in data_type_handler.py
For example, if one tries to cast "Hello world" into a float Python will return an error, but there's nothing to catch that error.

#### Expected result

Either replace the un-castable values by None, or abort the Data typ

[2020-10-22 08:32] riibeirogabriel commented on #104
Nop, there are a treatment in each microservice to respond mishandled requests, in this case is returned a bad request error, do you think which is necessary add all response errors in docs?

[2020-10-22 08:34] riibeirogabriel commented on #104
And sorry to respond after 6 days, i didn't see the github notification.

[2020-10-22 08:39] riibeirogabriel commented on #79
@navendu-pottekkat please take a look in the sketch to new learning orchestra api, we will add an api gateway to abstract the microservices to user, then the user only need know the paths to each feature and make the requests, then after we add the api gateway the user don't need know about microservices. Please give a feedback if sounds good to you, suggestions are welcome! after we implement the

[2020-10-22 08:43] riibeirogabriel commented on #79
Please ignore the /Any JS path in /Api, it is about other project which will be added in learning orchestra infrastructure, separate from learning orchestra functionalities.

[2020-10-22 10:45] navendu-pottekkat commented on #79
@riibeirogabriel Looks good to me. Looking forward to the release!

[2020-10-22 16:22] hiperbolt commented on #90
Sorry I haven't been active on this issue. I'm going to start work on it today.

[2020-10-22 17:28] hiperbolt commented on #79
I like the API gateway. Will the client(in the other repo) work with this gateway?

[2020-10-22 18:42] riibeirogabriel commented on #79
@hiperbolt yes, we will make a refactoring in client when the API gateway is done, we did think use this api gateway https://www.krakend.io/.

[2020-10-22 18:46] riibeirogabriel commented on #79
@navendu-pottekkat When the API gateway is done with the refactored requests, we will able to begin the promotion, i will notify you when is done, probably in one or two weeks, if developers come now, with this refactoring in progress, can be hard to understand the software.

[2020-10-22 18:47] riibeirogabriel commented on #90
@hiperbolt no problem, take your time.

[2020-10-23 07:27] LaChapeliere commented on #104
I think it's not urgent to add the response errors to the docs, but it should be done at some point.
Also, the more info you give people in the error message, the better. Does the "bad request error" include a detailed message. In the case I pointed out, you should tell the user that the error is because they tried a cast that's not allowed.

[2020-10-23 09:51] riibeirogabriel commented on #104
when a bad request is accomplished, also is returned a message informating the error with the bad request status (406), in data type handler. There are the "invalid_fields", "invalid_filename" and "missing_fields" messages in  DataTypeHandlerRequestValidator class, i think which errors responses already are implemented by each microservices, the user will be informed what is the error in case of b

[2020-11-02 08:11] riibeirogabriel opened #105 "model builder microservice doesn't running after software deploy."
#### Bug description
The model builder microservcie fall constantly after the learning orchestra deploy.
#### Expected result
model builder microservice must stay running after deploy

#### Solution
in model_builder folder add "numpy==1.19.0" in requirements.txt and "import numpy as np" in model_builder.py

[2020-11-02 08:12] riibeirogabriel commented on #105
@otaviomapa

[2020-11-02 17:30] #105 closed

[2020-11-26 09:13] riibeirogabriel commented on #63
@all-contributors please add @Matheus-Gr and @otaviomapa for code, test and doc

[2020-11-26 09:15] riibeirogabriel commented on #63
@all-contributors please add @otaviomapa for code, test and doc

[2021-01-24 19:37] riibeirogabriel commented on #62
@all-contributors please remove @otaviomapa

[2021-05-04 16:05] riibeirogabriel commented on #63
@all-contributors plese add @gustavofariaa for code, test and doc

[2022-05-10 09:22] riibeirogabriel commented on #63
@all-contributors remove @gustavofariaa